.undefined {
  width: 100%;
}

.none {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -1000px;
}

.number {
  input {
    text-align: right;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
