<form
  [formGroup]="form"
  [spellcheck]="config.spellcheck"
  [autocomplete]="config.autocomplete"
  [class]="config.class"
>
  <!-- Contenedor -->
  <div
    *ngFor="let item of data; let i = index"
    [class]="item.class_container"
  >
    <!-- Input Text/password -->
    <mat-form-field
      style="width: 100%;"
      *ngIf="item.type === 'text' || item.type === 'password'"
      [appearance]="item.appearance ? item.appearance : 'legacy'"
      [hideRequiredMarker]="!item.show_required"
      [floatLabel]="item.floatLabel ? item.floatLabel : 'auto'"
    >
      <mat-label [class]="item.class_label">
        <mat-icon
          *ngIf="item.icon_label_before"
          [ngClass]="item.class_label_icon_before"
          >{{ item.icon_label_before }}</mat-icon
        >
        <span [class]="item.class_label_text">{{ item.label }}</span>
        <mat-icon
          *ngIf="item.icon_label_after"
          [ngClass]="item.class_label_icon_after"
          >{{ item.icon_label_after }}</mat-icon
        >
      </mat-label>
      <mat-hint
        align="start"
        *ngIf="item.text_hint_start"
        [ngClass]="item.class_text_hint_start"
      >
        <mat-icon
          *ngIf="item.icon_hint_start_before"
          [ngClass]="item.class_hint_icon_start_before"
          >{{ item.icon_hint_start_before }}</mat-icon
        >
        {{ item.hint_length_start ? form.controls[i].value.length : ""
        }}{{ item.text_hint_start }}
        <mat-icon
          *ngIf="item.icon_hint_start_after"
          [ngClass]="item.class_hint_icon_start_after"
          >{{ item.icon_hint_start_after }}</mat-icon
        >
      </mat-hint>
      <mat-hint
        align="end"
        *ngIf="item.text_hint_end"
        [ngClass]="item.class_text_hint_end"
      >
        <mat-icon
          *ngIf="item.icon_hint_end_before"
          [ngClass]="item.class_hint_icon_end_before"
          >{{ item.icon_hint_end_before }}</mat-icon
        >
        {{ item.hint_length_end ? form.controls[i].value.length : ""
        }}{{ item.text_hint_end }}
        <mat-icon
          *ngIf="item.icon_hint_end_after"
          [ngClass]="item.class_hint_icon_end_after"
          >{{ item.icon_hint_end_after }}</mat-icon
        >
      </mat-hint>
      <span
        matPrefix
        *ngIf="item.text_prefix"
        [ngClass]="item.class_text_prefix"
      >
        <mat-icon
          *ngIf="item.icon_prefix_before"
          [ngClass]="item.class_icon_prefix_before"
          >{{ item.icon_prefix_before }}</mat-icon
        >
        {{ item.text_prefix }}
        <mat-icon
          *ngIf="item.icon_prefix_after"
          [ngClass]="item.class_icon_prefix_after"
          >{{ item.icon_prefix_after }}</mat-icon
        >
      </span>
      <span
        matSuffix
        *ngIf="item.text_suffix"
        [ngClass]="item.class_text_suffix"
      >
        <mat-icon
          *ngIf="item.icon_suffix_before"
          [ngClass]="item.class_icon_suffix_before"
          >{{ item.icon_suffix_before }}</mat-icon
        >
        {{ item.text_suffix }}
        <mat-icon
          *ngIf="item.icon_suffix_after"
          [ngClass]="item.class_icon_suffix_after"
          >{{ item.icon_suffix_before }}</mat-icon
        >
      </span>
      <input
        matInput
        [formControlName]="i"
        (keydown)="focusOut(i)"
        [required]="item.required"
        [maxlength]="item.max_length"
        [type]="item.type"
        [ngClass]="item.class_input"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="item.type = item.type === 'text' ? 'password' : 'text'"
        *ngIf="item.password_button"
        type="button"
      >
        <mat-icon>{{
          item.type === "text"
            ? item.password_icon_visible
            : item.password_icon_hidden
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          !this.form.controls[i].valid &&
          !this.form.controls[i].hasError('required')
        "
      >
        {{ item.error_valid ? item.error_valid : config.error_valid }}
      </mat-error>
      <mat-error *ngIf="this.form.controls[i].hasError('required')">
        {{
          item.error_required ? item.error_required : config.error_required
        }}
      </mat-error>
    </mat-form-field>

    <!-- Input date -->
    <mat-form-field
      style="width: 100%;"
      *ngIf="item.type === 'date'"
      [appearance]="item.appearance ? item.appearance : 'legacy'"
      [hideRequiredMarker]="!item.show_required"
      [floatLabel]="item.floatLabel ? item.floatLabel : 'auto'"
    >
      <mat-label [class]="item.class_label">
        <mat-icon
          *ngIf="item.icon_label_before"
          [ngClass]="item.class_label_icon_before"
          >{{ item.icon_label_before }}</mat-icon
        >
        <span [class]="item.class_label_text">{{ item.label }}</span>
        <mat-icon
          *ngIf="item.icon_label_after"
          [ngClass]="item.class_label_icon_after"
          >{{ item.icon_label_after }}</mat-icon
        >
      </mat-label>
      <mat-hint
        align="start"
        *ngIf="item.text_hint_start"
        [ngClass]="item.class_text_hint_start"
      >
        <mat-icon
          *ngIf="item.icon_hint_start_before"
          [ngClass]="item.class_hint_icon_start_before"
          >{{ item.icon_hint_start_before }}</mat-icon
        >
        {{ item.hint_length_start ? form.controls[i].value.length : ""
        }}{{ item.text_hint_start }}
        <mat-icon
          *ngIf="item.icon_hint_start_after"
          [ngClass]="item.class_hint_icon_start_after"
          >{{ item.icon_hint_start_after }}</mat-icon
        >
      </mat-hint>
      <mat-hint
        align="end"
        *ngIf="item.text_hint_end"
        [ngClass]="item.class_text_hint_end"
      >
        <mat-icon
          *ngIf="item.icon_hint_end_before"
          [ngClass]="item.class_hint_icon_end_before"
          >{{ item.icon_hint_end_before }}</mat-icon
        >
        {{ item.hint_length_end ? form.controls[i].value.length : ""
        }}{{ item.text_hint_end }}
        <mat-icon
          *ngIf="item.icon_hint_end_after"
          [ngClass]="item.class_hint_icon_end_after"
          >{{ item.icon_hint_end_after }}</mat-icon
        >
      </mat-hint>
      <span
        matPrefix
        *ngIf="item.text_prefix"
        [ngClass]="item.class_text_prefix"
      >
        <mat-icon
          *ngIf="item.icon_prefix_before"
          [ngClass]="item.class_icon_prefix_before"
          >{{ item.icon_prefix_before }}</mat-icon
        >
        {{ item.text_prefix }}
        <mat-icon
          *ngIf="item.icon_prefix_after"
          [ngClass]="item.class_icon_prefix_after"
          >{{ item.icon_prefix_after }}</mat-icon
        >
      </span>
      <span
        matSuffix
        *ngIf="item.text_suffix"
        [ngClass]="item.class_text_suffix"
      >
        <mat-icon
          *ngIf="item.icon_suffix_before"
          [ngClass]="item.class_icon_suffix_before"
          >{{ item.icon_suffix_before }}</mat-icon
        >
        {{ item.text_suffix }}
        <mat-icon
          *ngIf="item.icon_suffix_after"
          [ngClass]="item.class_icon_suffix_after"
          >{{ item.icon_suffix_before }}</mat-icon
        >
      </span>
      <input
        matInput
        [formControlName]="i"
        (keydown)="focusOut(i)"
        [required]="item.required"
        [maxlength]="item.max_length"
        type="text"
        [ngClass]="item.class_input"
        [matDatepicker]="date"
        readonly
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="date"
        (focusout)="focusOut(i)"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #date
        disabled="false"
        (focusout)="focusOut(i)"
      ></mat-datepicker>
      <mat-error
        *ngIf="
          !this.form.controls[i].valid &&
          !this.form.controls[i].hasError('required')
        "
      >
        {{ item.error_valid ? item.error_valid : config.error_valid }}
      </mat-error>
      <mat-error *ngIf="this.form.controls[i].hasError('required')">
        {{
          item.error_required ? item.error_required : config.error_required
        }}
      </mat-error>
    </mat-form-field>
    <!-- Input select -->
    <mat-form-field
      style="width: 100%;"
      *ngIf="item.type === 'select'"
      [appearance]="item.appearance ? item.appearance : 'legacy'"
      [hideRequiredMarker]="!item.show_required"
      [floatLabel]="item.floatLabel ? item.floatLabel : 'auto'"
    >
      <mat-label [class]="item.class_label">
        <mat-icon
          *ngIf="item.icon_label_before"
          [ngClass]="item.class_label_icon_before"
          >{{ item.icon_label_before }}</mat-icon
        >
        <span [class]="item.class_label_text">{{ item.label }}</span>
        <mat-icon
          *ngIf="item.icon_label_after"
          [ngClass]="item.class_label_icon_after"
          >{{ item.icon_label_after }}</mat-icon
        >
      </mat-label>
      <mat-hint
        align="start"
        *ngIf="item.text_hint_start"
        [ngClass]="item.class_text_hint_start"
      >
        <mat-icon
          *ngIf="item.icon_hint_start_before"
          [ngClass]="item.class_hint_icon_start_before"
          >{{ item.icon_hint_start_before }}</mat-icon
        >
        {{ item.hint_length_start ? form.controls[i].value.length : ""
        }}{{ item.text_hint_start }}
        <mat-icon
          *ngIf="item.icon_hint_start_after"
          [ngClass]="item.class_hint_icon_start_after"
          >{{ item.icon_hint_start_after }}</mat-icon
        >
      </mat-hint>
      <mat-hint
        align="end"
        *ngIf="item.text_hint_end"
        [ngClass]="item.class_text_hint_end"
      >
        <mat-icon
          *ngIf="item.icon_hint_end_before"
          [ngClass]="item.class_hint_icon_end_before"
          >{{ item.icon_hint_end_before }}</mat-icon
        >
        {{ item.hint_length_end ? form.controls[i].value.length : ""
        }}{{ item.text_hint_end }}
        <mat-icon
          *ngIf="item.icon_hint_end_after"
          [ngClass]="item.class_hint_icon_end_after"
          >{{ item.icon_hint_end_after }}</mat-icon
        >
      </mat-hint>
      <span
        matPrefix
        *ngIf="item.text_prefix"
        [ngClass]="item.class_text_prefix"
      >
        <mat-icon
          *ngIf="item.icon_prefix_before"
          [ngClass]="item.class_icon_prefix_before"
          >{{ item.icon_prefix_before }}</mat-icon
        >
        {{ item.text_prefix }}
        <mat-icon
          *ngIf="item.icon_prefix_after"
          [ngClass]="item.class_icon_prefix_after"
          >{{ item.icon_prefix_after }}</mat-icon
        >
      </span>
      <span
        matSuffix
        *ngIf="item.text_suffix"
        [ngClass]="item.class_text_suffix"
      >
        <mat-icon
          *ngIf="item.icon_suffix_before"
          [ngClass]="item.class_icon_suffix_before"
          >{{ item.icon_suffix_before }}</mat-icon
        >
        {{ item.text_suffix }}
        <mat-icon
          *ngIf="item.icon_suffix_after"
          [ngClass]="item.class_icon_suffix_after"
          >{{ item.icon_suffix_before }}</mat-icon
        >
      </span>
      <mat-select
        [formControlName]="i"
        (focusout)="focusOut(i)"
        [multiple]="item.opcion_multi"
      >
        <mat-select-trigger>
          {{ form.controls[i].value ? form.controls[i].value : "" }}
        </mat-select-trigger>
        <div *ngIf="!item.select_group">
          <mat-option
            [value]="opcion.value"
            *ngFor="let opcion of item.data"
            [disabled]="opcion.disabled"
          >
            {{ opcion.value }}
          </mat-option>
        </div>
        <div *ngIf="item.select_group">
          <mat-optgroup
            *ngFor="let options of item.data"
            [label]="options.value"
            [disabled]="options.disabled"
          >
            <mat-option
              [value]="opcion.value"
              *ngFor="let opcion of options.options"
              [disabled]="opcion.disabled"
            >
              {{ opcion.value }}
            </mat-option>
          </mat-optgroup>
        </div>
      </mat-select>
      <mat-error
        *ngIf="
          !this.form.controls[i].valid &&
          !this.form.controls[i].hasError('required')
        "
      >
        {{ item.error_valid ? item.error_valid : config.error_valid }}
      </mat-error>
      <mat-error *ngIf="this.form.controls[i].hasError('required')">
        {{
          item.error_required ? item.error_required : config.error_required
        }}
      </mat-error>
    </mat-form-field>

    <!-- autocomplete -->
    <mat-form-field
      style="width: 100%;"
      *ngIf="item.type === 'autocomplete'"
      [appearance]="item.appearance ? item.appearance : 'legacy'"
      [hideRequiredMarker]="!item.show_required"
      [floatLabel]="item.floatLabel ? item.floatLabel : 'auto'"
    >
      <mat-label [class]="item.class_label">
        <mat-icon
          *ngIf="item.icon_label_before"
          [ngClass]="item.class_label_icon_before"
          >{{ item.icon_label_before }}</mat-icon
        >
        <span [class]="item.class_label_text">{{ item.label }}</span>
        <mat-icon
          *ngIf="item.icon_label_after"
          [ngClass]="item.class_label_icon_after"
          >{{ item.icon_label_after }}</mat-icon
        >
      </mat-label>
      <mat-hint
        align="start"
        *ngIf="item.text_hint_start"
        [ngClass]="item.class_text_hint_start"
      >
        <mat-icon
          *ngIf="item.icon_hint_start_before"
          [ngClass]="item.class_hint_icon_start_before"
          >{{ item.icon_hint_start_before }}</mat-icon
        >
        {{ item.hint_length_start ? form.controls[i].value.length : ""
        }}{{ item.text_hint_start }}
        <mat-icon
          *ngIf="item.icon_hint_start_after"
          [ngClass]="item.class_hint_icon_start_after"
          >{{ item.icon_hint_start_after }}</mat-icon
        >
      </mat-hint>
      <mat-hint
        align="end"
        *ngIf="item.text_hint_end"
        [ngClass]="item.class_text_hint_end"
      >
        <mat-icon
          *ngIf="item.icon_hint_end_before"
          [ngClass]="item.class_hint_icon_end_before"
          >{{ item.icon_hint_end_before }}</mat-icon
        >
        {{ item.hint_length_end ? form.controls[i].value.length : ""
        }}{{ item.text_hint_end }}
        <mat-icon
          *ngIf="item.icon_hint_end_after"
          [ngClass]="item.class_hint_icon_end_after"
          >{{ item.icon_hint_end_after }}</mat-icon
        >
      </mat-hint>
      <span
        matPrefix
        *ngIf="item.text_prefix"
        [ngClass]="item.class_text_prefix"
      >
        <mat-icon
          *ngIf="item.icon_prefix_before"
          [ngClass]="item.class_icon_prefix_before"
          >{{ item.icon_prefix_before }}</mat-icon
        >
        {{ item.text_prefix }}
        <mat-icon
          *ngIf="item.icon_prefix_after"
          [ngClass]="item.class_icon_prefix_after"
          >{{ item.icon_prefix_after }}</mat-icon
        >
      </span>
      <span
        matSuffix
        *ngIf="item.text_suffix"
        [ngClass]="item.class_text_suffix"
      >
        <mat-icon
          *ngIf="item.icon_suffix_before"
          [ngClass]="item.class_icon_suffix_before"
          >{{ item.icon_suffix_before }}</mat-icon
        >
        {{ item.text_suffix }}
        <mat-icon
          *ngIf="item.icon_suffix_after"
          [ngClass]="item.class_icon_suffix_after"
          >{{ item.icon_suffix_before }}</mat-icon
        >
      </span>
      <input
        type="text"
        matInput
        [formControlName]="i"
        [matAutocomplete]="auto"
        (focusout)="focusOut(i)"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of item.observable | async"
          [value]="option.value"
        >
          {{ option.value }}
        </mat-option>
      </mat-autocomplete>

      <mat-error
        *ngIf="
          !this.form.controls[i].valid &&
          !this.form.controls[i].hasError('required')
        "
      >
        {{ item.error_valid ? item.error_valid : config.error_valid }}
      </mat-error>
      <mat-error *ngIf="this.form.controls[i].hasError('required')">
        {{
          item.error_required ? item.error_required : config.error_required
        }}
      </mat-error>
    </mat-form-field>

    <!-- radio -->
    <div style="width: 100%;" *ngIf="item.type === 'radio'">
      <mat-label [class]="item.class_label">
        <mat-icon
          *ngIf="item.icon_label_before"
          [ngClass]="item.class_label_icon_before"
          >{{ item.icon_label_before }}</mat-icon
        >
        <span [class]="item.class_label_text">{{ item.label }}</span>
        <mat-icon
          *ngIf="item.icon_label_after"
          [ngClass]="item.class_label_icon_after"
          >{{ item.icon_label_after }}</mat-icon
        >
      </mat-label>
      <mat-hint
        align="start"
        *ngIf="item.text_hint_start"
        [ngClass]="item.class_text_hint_start"
      >
        <mat-icon
          *ngIf="item.icon_hint_start_before"
          [ngClass]="item.class_hint_icon_start_before"
          >{{ item.icon_hint_start_before }}</mat-icon
        >
        {{ item.hint_length_start ? form.controls[i].value.length : ""
        }}{{ item.text_hint_start }}
        <mat-icon
          *ngIf="item.icon_hint_start_after"
          [ngClass]="item.class_hint_icon_start_after"
          >{{ item.icon_hint_start_after }}</mat-icon
        >
      </mat-hint>
      <mat-hint
        align="end"
        *ngIf="item.text_hint_end"
        [ngClass]="item.class_text_hint_end"
      >
        <mat-icon
          *ngIf="item.icon_hint_end_before"
          [ngClass]="item.class_hint_icon_end_before"
          >{{ item.icon_hint_end_before }}</mat-icon
        >
        {{ item.hint_length_end ? form.controls[i].value.length : ""
        }}{{ item.text_hint_end }}
        <mat-icon
          *ngIf="item.icon_hint_end_after"
          [ngClass]="item.class_hint_icon_end_after"
          >{{ item.icon_hint_end_after }}</mat-icon
        >
      </mat-hint>
      <span
        matPrefix
        *ngIf="item.text_prefix"
        [ngClass]="item.class_text_prefix"
      >
        <mat-icon
          *ngIf="item.icon_prefix_before"
          [ngClass]="item.class_icon_prefix_before"
          >{{ item.icon_prefix_before }}</mat-icon
        >
        {{ item.text_prefix }}
        <mat-icon
          *ngIf="item.icon_prefix_after"
          [ngClass]="item.class_icon_prefix_after"
          >{{ item.icon_prefix_after }}</mat-icon
        >
      </span>
      <span
        matSuffix
        *ngIf="item.text_suffix"
        [ngClass]="item.class_text_suffix"
      >
        <mat-icon
          *ngIf="item.icon_suffix_before"
          [ngClass]="item.class_icon_suffix_before"
          >{{ item.icon_suffix_before }}</mat-icon
        >
        {{ item.text_suffix }}
        <mat-icon
          *ngIf="item.icon_suffix_after"
          [ngClass]="item.class_icon_suffix_after"
          >{{ item.icon_suffix_before }}</mat-icon
        >
      </span>
      <mat-radio-group [formControlName]="i" (focusout)="focusOut(i)">
        <mat-radio-button
          *ngFor="let opcion of item.data"
          [value]="opcion.value"
          class="px-2"
          [labelPosition]="opcion.position"
        >
          <mat-label>
            {{ opcion.value }}
          </mat-label>
        </mat-radio-button>
      </mat-radio-group>
      <mat-error
        *ngIf="
          !this.form.controls[i].valid &&
          !this.form.controls[i].hasError('required')
        "
      >
        {{ item.error_valid ? item.error_valid : config.error_valid }}
      </mat-error>
      <mat-error
        *ngIf="
          this.form.controls[i].hasError('required') &&
          this.form.controls[i].touched
        "
      >
        {{
          item.error_required ? item.error_required : config.error_required
        }}
      </mat-error>
    </div>

    <!-- switch -->
    <div style="width: 100%;" *ngIf="item.type === 'switch'">
      <mat-hint
        align="start"
        *ngIf="item.text_hint_start"
        [ngClass]="item.class_text_hint_start"
      >
        <mat-icon
          *ngIf="item.icon_hint_start_before"
          [ngClass]="item.class_hint_icon_start_before"
          >{{ item.icon_hint_start_before }}</mat-icon
        >
        {{ item.hint_length_start ? form.controls[i].value.length : ""
        }}{{ item.text_hint_start }}
        <mat-icon
          *ngIf="item.icon_hint_start_after"
          [ngClass]="item.class_hint_icon_start_after"
          >{{ item.icon_hint_start_after }}</mat-icon
        >
      </mat-hint>
      <mat-hint
        align="end"
        *ngIf="item.text_hint_end"
        [ngClass]="item.class_text_hint_end"
      >
        <mat-icon
          *ngIf="item.icon_hint_end_before"
          [ngClass]="item.class_hint_icon_end_before"
          >{{ item.icon_hint_end_before }}</mat-icon
        >
        {{ item.hint_length_end ? form.controls[i].value.length : ""
        }}{{ item.text_hint_end }}
        <mat-icon
          *ngIf="item.icon_hint_end_after"
          [ngClass]="item.class_hint_icon_end_after"
          >{{ item.icon_hint_end_after }}</mat-icon
        >
      </mat-hint>
      <span
        matPrefix
        *ngIf="item.text_prefix"
        [ngClass]="item.class_text_prefix"
      >
        <mat-icon
          *ngIf="item.icon_prefix_before"
          [ngClass]="item.class_icon_prefix_before"
          >{{ item.icon_prefix_before }}</mat-icon
        >
        {{ item.text_prefix }}
        <mat-icon
          *ngIf="item.icon_prefix_after"
          [ngClass]="item.class_icon_prefix_after"
          >{{ item.icon_prefix_after }}</mat-icon
        >
      </span>
      <span
        matSuffix
        *ngIf="item.text_suffix"
        [ngClass]="item.class_text_suffix"
      >
        <mat-icon
          *ngIf="item.icon_suffix_before"
          [ngClass]="item.class_icon_suffix_before"
          >{{ item.icon_suffix_before }}</mat-icon
        >
        {{ item.text_suffix }}
        <mat-icon
          *ngIf="item.icon_suffix_after"
          [ngClass]="item.class_icon_suffix_after"
          >{{ item.icon_suffix_before }}</mat-icon
        >
      </span>
      <mat-slide-toggle
        [formControlName]="i"
        (focusout)="focusOut(i)"
        [labelPosition]="item.label_position"
      >
        <mat-label [class]="item.class_label">
          <mat-icon
            *ngIf="item.icon_label_before"
            [ngClass]="item.class_label_icon_before"
            >{{ item.icon_label_before }}</mat-icon
          >
          <span [class]="item.class_label_text">{{ item.label }}</span>
          <mat-icon
            *ngIf="item.icon_label_after"
            [ngClass]="item.class_label_icon_after"
            >{{ item.icon_label_after }}</mat-icon
          >
        </mat-label>
      </mat-slide-toggle>
      <mat-error
        *ngIf="
          !this.form.controls[i].valid &&
          !this.form.controls[i].hasError('required')
        "
      >
        {{ item.error_valid ? item.error_valid : config.error_valid }}
      </mat-error>
      <mat-error
        *ngIf="
          this.form.controls[i].hasError('required') &&
          this.form.controls[i].touched
        "
      >
        {{
          item.error_required ? item.error_required : config.error_required
        }}
      </mat-error>
    </div>


    <!-- slider -->
    <div style="width: 100%;" *ngIf="item.type === 'slider'">
        <mat-label [class]="item.class_label">
          <mat-icon
            *ngIf="item.icon_label_before"
            [ngClass]="item.class_label_icon_before"
            >{{ item.icon_label_before }}</mat-icon
          >
          <span [class]="item.class_label_text">{{ item.label }}</span>
          <mat-icon
            *ngIf="item.icon_label_after"
            [ngClass]="item.class_label_icon_after"
            >{{ item.icon_label_after }}</mat-icon
          >
        </mat-label>
        <mat-hint
          align="start"
          *ngIf="item.text_hint_start"
          [ngClass]="item.class_text_hint_start"
        >
          <mat-icon
            *ngIf="item.icon_hint_start_before"
            [ngClass]="item.class_hint_icon_start_before"
            >{{ item.icon_hint_start_before }}</mat-icon
          >
          {{ item.hint_length_start ? form.controls[i].value.length : ""
          }}{{ item.text_hint_start }}
          <mat-icon
            *ngIf="item.icon_hint_start_after"
            [ngClass]="item.class_hint_icon_start_after"
            >{{ item.icon_hint_start_after }}</mat-icon
          >
        </mat-hint>
        <mat-hint
          align="end"
          *ngIf="item.text_hint_end"
          [ngClass]="item.class_text_hint_end"
        >
          <mat-icon
            *ngIf="item.icon_hint_end_before"
            [ngClass]="item.class_hint_icon_end_before"
            >{{ item.icon_hint_end_before }}</mat-icon
          >
          {{ item.hint_length_end ? form.controls[i].value.length : ""
          }}{{ item.text_hint_end }}
          <mat-icon
            *ngIf="item.icon_hint_end_after"
            [ngClass]="item.class_hint_icon_end_after"
            >{{ item.icon_hint_end_after }}</mat-icon
          >
        </mat-hint>
        <span
          matPrefix
          *ngIf="item.text_prefix"
          [ngClass]="item.class_text_prefix"
        >
          <mat-icon
            *ngIf="item.icon_prefix_before"
            [ngClass]="item.class_icon_prefix_before"
            >{{ item.icon_prefix_before }}</mat-icon
          >
          {{ item.text_prefix }}
          <mat-icon
            *ngIf="item.icon_prefix_after"
            [ngClass]="item.class_icon_prefix_after"
            >{{ item.icon_prefix_after }}</mat-icon
          >
        </span>
        <span
          matSuffix
          *ngIf="item.text_suffix"
          [ngClass]="item.class_text_suffix"
        >
          <mat-icon
            *ngIf="item.icon_suffix_before"
            [ngClass]="item.class_icon_suffix_before"
            >{{ item.icon_suffix_before }}</mat-icon
          >
          {{ item.text_suffix }}
          <mat-icon
            *ngIf="item.icon_suffix_after"
            [ngClass]="item.class_icon_suffix_after"
            >{{ item.icon_suffix_before }}</mat-icon
          >
        </span>
        <mat-slider
        class="w-100"
        [invert]="item.slider_inverted"
        [max]="item.max_length"
        [min]="item.min_length"
        [step]="item.slider_stepSize"
        [thumbLabel]="item.slider_thumbLabel"
        [tickInterval]="item.slider_ticks"
        [vertical]="item.slider_vertical"
        [formControlName]="i"
        (focusout)="focusOut(i)"
      >
      </mat-slider>
        <mat-error
          *ngIf="
            !this.form.controls[i].valid &&
            !this.form.controls[i].hasError('required')
          "
        >
          {{ item.error_valid ? item.error_valid : config.error_valid }}
        </mat-error>
        <mat-error
          *ngIf="
            this.form.controls[i].hasError('required') &&
            this.form.controls[i].touched
          "
        >
          {{
            item.error_required ? item.error_required : config.error_required
          }}
        </mat-error>
      </div>
  



        <!-- checbox -->
    <div style="width: 100%;" *ngIf="item.type === 'checbox'">
        <mat-label [class]="item.class_label">
          <mat-icon
            *ngIf="item.icon_label_before"
            [ngClass]="item.class_label_icon_before"
            >{{ item.icon_label_before }}</mat-icon
          >
          <span [class]="item.class_label_text">{{ item.label }}</span>
          <mat-icon
            *ngIf="item.icon_label_after"
            [ngClass]="item.class_label_icon_after"
            >{{ item.icon_label_after }}</mat-icon
          >
        </mat-label>
        <mat-hint
          align="start"
          *ngIf="item.text_hint_start"
          [ngClass]="item.class_text_hint_start"
        >
          <mat-icon
            *ngIf="item.icon_hint_start_before"
            [ngClass]="item.class_hint_icon_start_before"
            >{{ item.icon_hint_start_before }}</mat-icon
          >
          {{ item.hint_length_start ? form.controls[i].value.length : ""
          }}{{ item.text_hint_start }}
          <mat-icon
            *ngIf="item.icon_hint_start_after"
            [ngClass]="item.class_hint_icon_start_after"
            >{{ item.icon_hint_start_after }}</mat-icon
          >
        </mat-hint>
        <mat-hint
          align="end"
          *ngIf="item.text_hint_end"
          [ngClass]="item.class_text_hint_end"
        >
          <mat-icon
            *ngIf="item.icon_hint_end_before"
            [ngClass]="item.class_hint_icon_end_before"
            >{{ item.icon_hint_end_before }}</mat-icon
          >
          {{ item.hint_length_end ? form.controls[i].value.length : ""
          }}{{ item.text_hint_end }}
          <mat-icon
            *ngIf="item.icon_hint_end_after"
            [ngClass]="item.class_hint_icon_end_after"
            >{{ item.icon_hint_end_after }}</mat-icon
          >
        </mat-hint>
        <span
          matPrefix
          *ngIf="item.text_prefix"
          [ngClass]="item.class_text_prefix"
        >
          <mat-icon
            *ngIf="item.icon_prefix_before"
            [ngClass]="item.class_icon_prefix_before"
            >{{ item.icon_prefix_before }}</mat-icon
          >
          {{ item.text_prefix }}
          <mat-icon
            *ngIf="item.icon_prefix_after"
            [ngClass]="item.class_icon_prefix_after"
            >{{ item.icon_prefix_after }}</mat-icon
          >
        </span>
        <span
          matSuffix
          *ngIf="item.text_suffix"
          [ngClass]="item.class_text_suffix"
        >
          <mat-icon
            *ngIf="item.icon_suffix_before"
            [ngClass]="item.class_icon_suffix_before"
            >{{ item.icon_suffix_before }}</mat-icon
          >
          {{ item.text_suffix }}
          <mat-icon
            *ngIf="item.icon_suffix_after"
            [ngClass]="item.class_icon_suffix_after"
            >{{ item.icon_suffix_before }}</mat-icon
          >
        </span>
        <input
        [formControlName]="i"
        class="none"
        (focusout)="focusOut(i)"
      />
      <mat-checkbox [ngClass]="item.class_opcions"
        *ngFor="let checkbox of item.data"
        (change)="itemtoArray($event, i, checkbox.value)"
        [labelPosition]="checkbox.position"
        (focusout)="focusOut(i)"
        >{{ checkbox.value }}</mat-checkbox
      >
        <mat-error
          *ngIf="
            !this.form.controls[i].valid &&
            !this.form.controls[i].hasError('required')
          "
        >
          {{ item.error_valid ? item.error_valid : config.error_valid }}
        </mat-error>
        <mat-error
          *ngIf="
            this.form.controls[i].hasError('required') &&
            this.form.controls[i].touched
          "
        >
          {{
            item.error_required ? item.error_required : config.error_required
          }}
        </mat-error>
      </div>


  </div>
</form>
